.steps-indicator
{
	position: absolute;
	top: 10px;
}

form
{
	    width: 28%;
    position: absolute;
    top: 150px;
    left: 500px;
}

.steps-indicator
{
	    padding: 70px 0 0 !important;
}